.social-media {
  position: absolute;
  top: 10px;
  align-self: center;
  height: auto;
  margin: auto;
  right: 17.5px;
  list-style-type: none;
}
.social-media a {
  text-decoration: none;
}
.social-media img {
  display: inline-block;
  padding: 0px 5px;
  max-height: 35px;
  max-width: 35px;
  vertical-align: middle;
  transition: 0.3s ease;
}
.social-media span {
  display: inline-block;
  padding: 0px 5px;
  max-height: 35px;
  max-width: 35px;
  vertical-align: middle;
  transition: 0.3s ease;
}
.social-media a span:hover {
  color: white;
}
.social-media .youtube {
  font-size: 25px;
  color: red;
}
