.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.title {
    color: var(--text-colour1);
    font-size: 70px;
    line-height: 70px;
}

.text {
    line-height: 25px;
    color: var(--senapp-colour);
    margin-top: 15px;
}

.message {
    color: var(--text-colour1);
    margin-top: 25px;
}
