.bar-item {
    display: inline-block;
    max-height: inherit;
    height: inherit;
}

.bar-item-content {
    transition: 0.3s ease;
    text-decoration: none;
    color: var(--white-colour);
    font-size: 18px;
}

.active {
    color: var(--black-colour);
}

.bar-item-content:hover {
    color: black;
    cursor: pointer;
}
