.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    background-color: white;
    min-width: 50px;
    width: fit-content;
    padding: 4px 10px;
    min-height: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.button:not(:last-child) {
    margin-right: 5px;
}

.small-button {
    min-width: 60px;
    min-height: 20px;
    font-size: small;
}

.button:hover {
    background-color: rgb(233 233 233);
}
